/* POLICY */
.shopify-policy__container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* START SHOP THE LOOK */
.ex-shop-the-look-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    width: 100%;
    max-width: var(--page-width);
    margin: auto;
}

@media screen and (max-width: 750px) {
    .page-width.ex-shop-the-look-container {
        padding: 0;
    }
}

.ex-shop-the-look-container .right-side {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.ex-shop-the-look-container .slider-button svg {
    margin: auto;
}

.ex-shop-the-look-container .left-side {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    height: 600px;
}

.ex-shop-the-look-container .left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.ex-shop-the-look-container .img-dot {
    width: 18px;
    height: 18px;
    margin: -7px 0 0 -7px;
    position: absolute;
    display: inline-block;
    cursor: pointer;
    background: #ffffff;
    transform: scale(1);
    transition: transform 0.25s ease-in-out;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(50, 50, 50, 0.25);
    z-index: 1;
    animation: throbbing-shadow 2.5s infinite ease-in-out;
}

@keyframes throbbing-shadow {
    0% {
        box-shadow: 0 2px 5px rgba(50, 50, 50, 0.25);
        transform: scale(1);
    }

    50% {
        box-shadow: 0 2px 15px rgba(50, 50, 50, 0.5);
        transform: scale(1.2);
    }

    100% {
        box-shadow: 0 2px 5px rgba(50, 50, 50, 0.25);
        transform: scale(1);
    }
}


.ex-shop-the-look-container .additional-button-shopthelook {
    display: block !important;
    position: unset;
    width: 100%;
    max-width: 300px;
}

/* .ex-shop-the-look-container .additional-button-shopthelook a:before,
  .ex-shop-the-look-container .additional-button-shopthelook a:after{
      display: none !important;
  } */

.ex-shop-the-look-container .underline-links-hover:hover .additional-button-shopthelook .product-form__buttons.form a.product-form__submit.button.button--full-width.button--secondary {
    text-decoration: unset !important;
    text-underline-offset: unset !important;
}

.ex-shop-the-look-container .img-dot.active {
    width: 28px;
    height: 28px;
}

.ex-shop-the-look-container .img-dot:hover {
    transform: scale(2);
    box-shadow: 2px 4px 20px rgba(50, 50, 50, 0.25);
}

.ex-shop-the-look-container .slider.slider--desktop .scroll-trigger.animate--slide-in {
    width: 100%;
    max-width: 100%;
}

.ex-shop-the-look-container .slideshow__controls.slider-buttons {
    bottom: 50%;
    gap: 1rem;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
}

.ex-shop-the-look-container .slider-button.slider-button--next svg,
.ex-shop-the-look-container .slider-button.slider-button--prev svg {
    width: 18px;
    height: 18px;
}

.ex-shop-the-look-container .slider-button.slider-button--next {
    display: block;
    position: absolute;
    right: 0rem;
    top: 0;
    margin: auto;
}

.ex-shop-the-look-container .slider-button.slider-button--prev {
    display: block;
    position: absolute;
    left: 0rem;
    top: 0;
    margin: auto;
}

.out-look__block-product.out-look__block-product--section {
    display: grid;
    /* display: grid; */
}

.out-look__block-product.out-look__block-product--slide {
    display: none;
    /* display: grid; */
}

#closelookproduct {
    display: none;
}

/* popup */

@media screen and (min-width: 650px) {
    .out-look__block-product-popup {
        width: 100%;
        max-width: 400px;
        margin: auto;
    }
}

@media screen and (min-width: 700px) and (max-width: 860px) {
    .ex-shop-the-look-container .slider-button.slider-button--next {
        right: 0rem;
    }

    .ex-shop-the-look-container .slider-button.slider-button--prev {
        left: 2rem;
    }
}

@media screen and (max-width: 920px) {
    .ex-shop-the-look-container .right-side {
        width: 100%;
        max-width: 414px;
        margin: auto;
    }

    .ex-shop-the-look-container .additional-button-shopthelook {
        max-width: 175px;
    }

    .ex-shop-the-look-container {
        grid-template-columns: 1fr;
        position: relative;
    }
}

@media screen and (max-width: 650px) {
    #closelookproduct {
        display: block;
        width: fit-content;
        margin: auto 0 1rem auto;
        border: 1px solid;
        padding: 0;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
    }

    .ex-shop-the-look-container .slider-button.slider-button--next {
        right: -1.5rem;
    }

    .ex-shop-the-look-container .slider-button.slider-button--prev {
        left: .2rem;
    }

    .out-look__block-product-popup {
        background: #ffffff;
        margin-top: 5rem;
        padding: 3rem 2rem 2rem 2rem;
        position: relative;
        width: 100%;
    }

    .out-look__block-product.out-look__block-product--section {
        display: grid;
    }

    .out-look__block-product.out-look__block-product--slide {
        display: none;
    }

    .ex-shop-the-look-container .right-side {
        width: 100%;
        max-width: 350px;
        margin: auto;
        visibility: hidden;
        height: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .ex-shop-the-look-container .left-side {
        height: 400px;
    }

    /* .hide_right-side {
          visibility: hidden;
          height: 0;
      } */

    .ex-shop-the-look-container .additional-button-shopthelook {
        max-width: 190px;
    }

    .ex-shop-the-look-container .slideshow__controls.slider-buttons {
        bottom: 50%;
        gap: 1rem;
        position: absolute;
        left: 0%;
        width: 100%;
        height: 0;
    }
}


@media screen and (max-width: 390px) {
    .ex-shop-the-look-container .slider-button.slider-button--prev {
        left: -1.8rem;
    }

    .ex-shop-the-look-container .slider-button.slider-button--next {
        right: -3.2rem;
    }
}

/* END SHOP THE LOOK */