/* custom css */
@media screen and (max-width: 849px) {
  .collection__view-all .button {
    min-height: 40px;
  }
}

.line-separator {
  display: block !important;
  transform: translateX(-20%);
}

svg.arrow-left path {
  fill: #63d7d1;
  color: #63d7d1;
}

svg.arrow-right path {
  fill: #63d7d1;
  color: #63d7d1;
}

button[disabled="disabled"] svg.arrow-left path {
  fill: #94a3b8;
  color: #94a3b8;
}

button[disabled="disabled"] svg.arrow-right path {
  fill: #94a3b8;
  color: #94a3b8;
}

.countdown p {
  padding: 3px 30px;
  border: 2px dotted #b91c1c;
  font-size: 24px;
  font-weight: 600;
  color: #b91c1c;
  border-radius: 8px;
}

.view-all-carousel-control-container {
  display: flex;
  align-items: end;
  column-gap: 20px;
}

.view-all-carousel-control-container-mobile {
  display: none;
  align-items: end;
  column-gap: 20px;
}

@media screen and (max-width: 849px) {
  .view-all-carousel-control-container-mobile {
    transform: translateY(-20px);
  }
}

.view-all-carousel-control-container .slider-buttons,
.view-all-carousel-control-container-mobile .slider-buttons {
  display: flex;
  column-gap: 15px;
}

.view-all-carousel-control-container button,
.view-all-carousel-control-container-mobile button {
  border: 1px solid #94a3b8;
  border-radius: 8px;
  padding: 0px 4px;
  height: 50px;
  transform: translateY(2px);
}

.arrow-right {
  transform: rotate(180deg);
}

.button-view-all {
  background: #63d7d1;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  color: black;
}

li.image-banner-collection {
  position: relative;
  text-align: start;
}

li.image-banner-collection img {
  filter: brightness(85%);
  object-fit: cover;
  height: 100%;
  border-radius: 8px;
}

.content-container,
.multicolumn-card {
  width: 100% !important;
}

.header ul li {
  max-width: fit-content;
}

ul li {
  width: 100%;
  max-width: 100%;
}

li.image-banner-collection h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  padding: 0 16px;
  font-size: 29px;
}

@media screen and (max-width: 1345px) {
  li.image-banner-collection h1 {
    font-size: 27px;
  }
}

@media screen and (max-width: 1293px) {
  li.image-banner-collection h1 {
    font-size: 22px;
  }
}

.slider-counter.caption span {
  font-size: 12px;
  font-weight: 700;
}

@media screen and (max-width: 850px) {
  .view-all-carousel-control-container {
    display: none;
  }

  .view-all-carousel-control-container-mobile {
    display: none;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 5%;
    margin-left: 5%;
  }

  .view-all-carousel-control-container-mobile button {
    display: none;
  }
}

/* end custom css */

@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  li.image-banner-collection h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  li.image-banner-collection h1 {
    font-size: 16px;
  }

  .countdown p {
    padding: 2px 20px;
    font-size: 22px;
  }
}

@media screen and (max-width: 366px) {
  li.image-banner-collection h1 {
    font-size: 13px;
  }
}

@media screen and (max-width: 331px) {
  li.image-banner-collection h1 {
    font-size: 11px;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 0rem;
}

.collection__title .title:not(:only-child) {
  margin: 0rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 0rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

@media screen and (min-width: 500px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 0rem;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 0rem;
}
